<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="XsdFile" value="C:\Users\fresan\documents\visual studio 2015\Projects\DataMappingExperiments\DataMappingExperiments\Testdata\ANDAImport.xml"/>
    <add key="SourceFile" value="C:\Users\fresan\documents\visual studio 2015\Projects\DataMappingExperiments\DataMappingExperiments\Testdata\Fln-Blg Plattformar Detaljlägen.xlsx"/>
    <add key="XMLOutputFile" value="C:\Users\fresan\Documents\Mappning ANDA\plattform.xml"/>
  </appSettings>
</configuration>