<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!--TODO: Manage filepaths-->
    <add key="XsdFile" value="C:\Users\fresan\documents\visual studio 2015\Projects\DataMappingExperiments\DataMappingExperiments\Testdata\ANDAImport.xml"/>
    <add key="XsdFileSecondGen" value="C:\Users\fresan\documents\visual studio 2015\Projects\DataMappingExperiments\DataMappingExperiments\Testdata\ANDAImportAndraGenerationen.xml"/>
    <add key="ErrorLog" value="C:\Users\fresan\Documents\Mappning ANDA\ErrorLog.txt"/>
    <add key="PlattformInput" value="C:\Users\fresan\documents\visual studio 2015\Projects\DataMappingExperiments\DataMappingExperiments\Testdata\Fln-Blg Plattformar Detaljlägen.xlsx"/>
    <add key="PlattformOutput" value="C:\Users\fresan\Documents\Mappning ANDA\plattform.xml"/>
    <add key="PlattformJson" value="C:\Users\fresan\Documents\Mappning ANDA\plattform.json"/>
    <add key="RälInput" value="C:\Users\fresan\documents\visual studio 2015\Projects\DataMappingExperiments\DataMappingExperiments\Testdata\Fln-Blg Räl Detaljlägen.xlsx"/>
    <add key="RälOutput" value="C:\Users\fresan\Documents\Mappning ANDA\räl.xml"/>
    <add key="RälJson" value="C:\Users\fresan\Documents\Mappning ANDA\räl.json"/>
  </appSettings>
  <!--GOTTA GO FAST-->
  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="true"/>
  </runtime>
</configuration>
